* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 8em;
  margin: 20px 0;
}

h2 {
  font-weight: lighter;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
}

div {
  height: 821px;
  width: 1300;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  padding-bottom: 27px;
  border-bottom: 3px solid;
}

img {
  margin: 0;
  padding: 0;
}

hr{
  border-style: groove none none;
  background-color: #4f5b66;
  position: absolute;
  margin-top: 69.25px;
  margin-left: 138px;
  width: 35%;
  z-index: +1;
  opacity: 0.4;
}

p {
  line-height: 2em;
}

ul {
  display: flex;
  background: none;
  flex-direction: row-reverse;
  list-style-type: none;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  filter: brightness(130%);
}

li {
  margin-right: 5%;
  padding: 30px;
  letter-spacing: 2px;
}

.navi {
  padding-top: 30px;
  position: absolute;
  right: 0;
  width: 60%;
}

.bold {
  font-weight: 900;
}

.text {
  height: 50%;
  width: 35%;
  margin: 60px 150px;
  position: absolute;
  top: 330px;
}

.logo {
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 50px;
  margin-left: 45.25px
}

.circle {
  background: white;
  border-radius: 240px;
  height: 240px;
  width: 240px;
  position: relative;
  top: 490px;
  left: 990px;
}

.incircle {
  font-family: 'Cormorant Garamond', serif;
  position: absolute;
  font-size: 1.7em;
  margin: 104.5px 63.32px;
  color: black;
}

#homer {
  border-bottom: 3px solid;
  padding-bottom: 27px;
}
